* {
  padding: 0;
  margin: 0;
}
html {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}
body {
  align-content: center;
  align-items: center;
  text-align: center;
}
.content {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.layerGrab {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img1 {
  transform-origin: center;
  transform: translateZ(-1px) scale(2);
  min-height: 100vh;
  width: 100vw;
  /* animation: blur 2s 0s infinite alternate; */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(media/1621400896_18-phonoteka_org-p-fon-moskva-siti-19.jpg);
}
/* @keyframes blur {
  0% {

  }
  100% {
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
} */
.intro {
  transform: translateZ(0) scale(1);
  transition: 1s;
}
/* .intro:hover {
  transform: translateY(-200px);
  transition: 1s;
} */
.intro h1 {
  font-size: 2.5em;
  letter-spacing: 0.2em;
  font-weight: 700;
  padding-bottom: 2%;
}
.logo {
  top: 0;
  left: 0;
  width: 200px;
  height: 100px;
}
.customShapeDividerTop-1666461190 {
  position: absolute;
  bottom: -1%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.customShapeDividerTop-1666461190 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 140px;
}
.customShapeDividerTop-1666461190 .shapeFill {
  fill: #7C7C7C;
}
.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: #7C7C7C;
}
.blockRotateAnim {
  width: 90px;
  height: 90px;
  background-color: aquamarine;
  border-radius: 4% 4% 4% 4%;
  transition: 1s;
  z-index: 0;
}
.blockRotateAnim:hover {
  width: 90px;
  height: 90px;
  /* animation: rotation 2s 0s infinite alternate; */
  border-radius: 50% 50% 50% 50%;
  transform: rotate(180deg);
  transition: .8s;
}
@keyframes rotation {
  0% {
    border: 0 0 0 0;
  }
  33% {
    transform: rotate(135deg);
  }
  67% {
    border-radius: 50% 50% 50% 50%;
  }
  100% {
    border-radius: 0 0 0 0;
  }
} 
.blockRotateAnim a {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.navigation {
  position: absolute;
  width: 30px;
  height: 6px;
  background-color: black;
  transition: .4s;
}
.navigation::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 6px;
  top: 12px;
  right: 0;
  background-color: black;
  transition: .4s;
}
.navigation::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 6px;
  top: -12px;
  right: 0;
  background-color: black;
  transition: .4s;
}
.blockRotateAnim:hover .navigation {
  width: 40px;
  transition: .4s;
}
.blockRotateAnim:hover .navigation::before {
  transform: rotate(45deg);
  transition: .4s;
  top: 9px;
  right: 14px;
}
.blockRotateAnim:hover .navigation::after {
  transform: rotate(-45deg);
  transition: .4s;
  top: -9px;
  right: 14px;
}
.blockMoveAnim {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  height: 160px;
  transition: .5s;
  background-color: pink;
}
.blockMoveAnimBackground1 {
  width: 320px;
  height: 160px;
  background-color: rgb(185, 58, 100);
}
.blockMoveAnimBackground2 {
  transition: .4s;
  width: 320px;
  height: 160px;
  background-color: rgb(226, 94, 138);
}
.blockMoveAnimBackground1:hover .blockMoveAnimBackground2 {
  transform: rotate(6deg) translateY(-6px);
  transform-origin: center;
  transition: .4s;
}
.blockMoveAnimBackground1:hover .blockMoveAnim {
  transform: rotate(7.5deg) translateY(-10px);
  transform-origin: center;
  transition: .4s;
}
.blockMoveAnim a {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.blockMoveAnim a h1 {
  text-decoration: none;
}
.newBtn {
  width: 200px;
  height: 100px;
  border-radius: 3%;
  background-color: rgb(66, 66, 66);
  transition: .35s;
}
.newBtn:hover {
  background-color: rgb(90, 90, 90);
  transition: .35s;
  box-shadow: 3px;
}
@media (max-width: 1920px) {
  .intro {
    padding-top: 20%;
  }
  .intro h1 {
    font-size: 2.5em;
    letter-spacing: 0.2em;
    font-weight: 700;;
  }
}
@media (max-width: 700px) {
  .intro{
    padding-top: 50%;
  }
  .intro h1 {
    font-size: 2em;
    letter-spacing: 0.1em;
    font-weight: 400;
  }
  .mainContent {
    flex-direction: column;
  }
}