.topic_center {
	padding: 0px 10px 20px 100px;
	border: 1px black solid;
	height: 100px;
	width: 500px;
	padding: 30px 30px 0px 30px;
	margin: 20px 0px 0px 20px;
	text-align: center;
	border-radius: 30px;
}
.text_decor {
	text-decoration: none;
}
.Main_font_mirea {
	font: 12pt/10pt "Montserrat";
	color: darkblue
}
.Main_font_mai {
	font: 12pt/10pt "Montserrat";
	color: green
}
.Main_font_mtusi {
	font: 12pt/10pt "Montserrat";
	color: purple
}
.Main_font_naprav { 
	font: 14pt/10pt "Montserrat";
	color: black
}
.liner {
	text-decoration-line: none;
}
.Main_font_mei {
	font: 12pt/10pt "Montserrat";
	color: red
}
.Main_font_misis {
	font: 12pt/10pt "Montserrat";
	color: rgb(106, 207, 233)
}
.lowerhead {
	border: 5px rgb(11, 33, 103) solid;
	width: 200px;
	height: 40px;
	padding: 15px 5px 5px 5px;
	margin: 0px 0px 0px 1270px;
	text-align: center;
	border-radius: 25px;
	background-color: rgb(255, 255, 255);
}
.cogs {
	border: 2px black solid;
	border-radius: 10px;
	width: 100px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.076);
}
.win {
	color: rgb(6, 137, 65);
}