{% extends 'base.html' %}

{% block title %}
{{news_item.title}} :: {{block.super}}

{% endblock  %}



{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock  %}

{% block content %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <div class='media'>
        <div class='media-body'>
          <h5 class="card-title">
          
            {{ news_item.title }}
          </h5>
          <h6 class="card-text">
            {{ news_item.created_at|date:"Y:m:d Время по МСК:G:i"}}
          </h6>
          <a href='{{ news_item.category.get_absolute_url}}' class="card-subtitle mb-2 text-muted">{{ news_item.category }}</a>
          <p class="card-text">{{news_item.content}}</p>
          <br>
          {% if item.photo %}
            <img src='{{ news_item.photo.url }}' alt='' width='200' height='200'>
          {% else %}
            <img src="https://picsum.photos/200" alt=''>
          {% endif %}
          <br>
          <span>Дать разрабам пизды: <a href="{% url 'home' %}">УДАР!</a>
          <hr>
          <br>
        </div>
      </div>
    </div>
  </div>
{% endblock %}