<link rel="stylesheet" type="text/css" href="style.css">
<html class="background_main" >
   <title>{{title}}</title>
   <div class="topik">
      <div class="topic_center"><font size="5" color="Black" face="Montserrat">Страница для мониторинга ранжированных списков вузов Москвы</font></div>
   </div>
<br>
   <ul class="list">
      <li>
         <div class="cogs">
            <a href="https://priem.mirea.ru/accepted-entrants-list/" target="_blank" title="Все направления" class="liner">
               <font size="5" color="blue" face="Montserrat">МИРЭА</font>
            </a>
         </div>
      </li>
      <br>
      <span class="Main_font_naprav">Направление:</span>
      <a href="https://priem.mirea.ru/accepted-entrants-list/personal_code_rating.php?competition=1712417522705280310" target="_blank" title="11.03.02" class="text_decor">
         <span class="Main_font_mirea">11.03.02 Инфокоммуникационные технологии и системы связи (ИРИ): <span class="win">257 место из 111</span></span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://priem.mirea.ru/accepted-entrants-list/personal_code_rating.php?competition=1712417552558239030" target="_blank" title="10.05.04" class="text_decor">
         <span class="Main_font_mirea">10.05.04 Информационно-аналитические системы безопасности (ИКБ): 312 место из 39</span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://priem.mirea.ru/accepted-entrants-list/personal_code_rating.php?competition=1712417559840599350" target="_blank" title="10.05.03" class="text_decor">
         <span class="Main_font_mirea">10.05.03 Информационная безопасность автоматизированных систем: 371 место из 48 (ИКБ)</span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://priem.mirea.ru/accepted-entrants-list/personal_code_rating.php?competition=1712417388938439990" target="_blank" title="27.03.03" class="text_decor">
         <span class="Main_font_mirea">27.03.03 Системный анализ и управление (ИИИ): 436 место из 57</span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://priem.mirea.ru/accepted-entrants-list/personal_code_rating.php?competition=1712417567593770294" target="_blank" title="10.05.02" class="text_decor">
         <span class="Main_font_mirea">10.05.02 Информационная безопасность телекоммуникационных систем (ИИИ): 251 место из 41</span>
      </a>
      <br>
      <br>
      
      
      <li>
         <div class="cogs">
            <a href="https://priem.mai.ru/rating/?referer=https%3A%2F%2Fpriem.mai.ru%2Frating%2F" target="_blank" title="Все направления" class="liner">
               <font size="5" color="grass" face="Montserrat">МАИ</font>
            </a>
         </div>
      </li>
      <br>
      <span class="Main_font_naprav">Направление:</span>
      <a href="https://priem.mai.ru/rating/?referer=https%3A%2F%2Fpriem.mai.ru%2Frating%2F" target="_blank" title="Все направления" class="text_decor">
         <span class="Main_font_mai">09.03.02 Информационные системы и технологии: 1053 место из 41</span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://priem.mai.ru/rating/?referer=https%3A%2F%2Fpriem.mai.ru%2Frating%2F" target="_blank" title="Все направления" class="text_decor">
         <span class="Main_font_mai">09.03.01 Информатика и вычислительная техника: 1497 место из 132 *</span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://priem.mai.ru/rating/?referer=https%3A%2F%2Fpriem.mai.ru%2Frating%2F" target="_blank" title="Все направления" class="text_decor">
         <span class="Main_font_mai">09.03.04 Программная инженерия: 1595 место из 40</span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://priem.mai.ru/rating/?referer=https%3A%2F%2Fpriem.mai.ru%2Frating%2F" target="_blank" title="Все направления" class="text_decor">
         <span class="Main_font_mai">27.03.05 Инноватика: 212 место из 38</span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://priem.mai.ru/rating/?referer=https%3A%2F%2Fpriem.mai.ru%2Frating%2F" target="_blank" title="Все направления" class="text_decor">
         <span class="Main_font_mai">27.03.04 Управление в технических системах: 156 место из 39</span>
      </a>
      <br>
      <br>
      
      
      <li>
         <div class="cogs">
            <a href="https://lk.abitur.mtuci.ru/staticPage.php?page_name=spiski" target="_blank" title="Все направления" class="liner">
               <font size="5" color="purple" face="Montserrat">МТУСИ</font>
            </a>
         </div>
      </li>
      <br>
      <span class="Main_font_naprav">Направление:</span>
      <a href="https://lk.abitur.mtuci.ru/staticPage.php?page_name=spiski" target="_blank" title="Все направления" class="text_decor">
         <span class="Main_font_mtusi">09.03.01 - Информатика и вычислительная техника: 1321 место из 100</span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://lk.abitur.mtuci.ru/staticPage.php?page_name=spiski" target="_blank" title="Все направления" class="text_decor">
         <span class="Main_font_mtusi"> 09.03.02 - Информационные системы и технологии: 1317 место из 90</span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://lk.abitur.mtuci.ru/staticPage.php?page_name=spiski" target="_blank" title="Все направления" class="text_decor">
         <span class="Main_font_mtusi"> 09.03.03 - Прикладная информатика: 1328 место из 50 </span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://lk.abitur.mtuci.ru/staticPage.php?page_name=spiski" target="_blank" title="Все направления" class="text_decor">
         <span class="Main_font_mtusi">10.03.01 - Информационная безопасность: 1057 место из 52</span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://lk.abitur.mtuci.ru/staticPage.php?page_name=spiski" target="_blank" title="Все направления" class="text_decor">
         <span class="Main_font_mtusi">10.05.02 - Информационная безопасность телекоммуникационных систем (специалитет): 448 место из 60</span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://lk.abitur.mtuci.ru/staticPage.php?page_name=spiski" target="_blank" title="Все направления" class="text_decor">
         <span class="Main_font_mtusi">11.03.02 - Инфокоммуникационные технологии и системы связи (СиСС): <span class="win">481 место из 306</span></span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://lk.abitur.mtuci.ru/staticPage.php?page_name=spiski" target="_blank" title="Все направления" class="text_decor">
         <span class="Main_font_mtusi">11.03.02 - Инфокоммуникационные технологии и системы связи (РиТ): 546 место из 232</span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://lk.abitur.mtuci.ru/staticPage.php?page_name=spiski" target="_blank" title="Все направления" class="text_decor">
         <span class="Main_font_mtusi">15.03.04 - Автоматизация технологических процессов и производств: 441 место из 20</span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://lk.abitur.mtuci.ru/staticPage.php?page_name=spiski" target="_blank" title="Все направления" class="text_decor">
         <span class="Main_font_mtusi">11.03.01 - Радиотехника: <span class="win">156 место из 75</span></span>
      </a>
      <br>
      <br>
      
      
      <li>
         <div class="cogs">
            <a href="https://pk.mpei.ru/inform/list.html?#bac" target="_blank" title="Все направления" class="liner">
               <font size="5" color="red" face="Montserrat">МЭИ</font>
            </a>
         </div>
      </li>
      <br>
      <span class="Main_font_naprav">Направление:</span>
      <a href="https://pk.mpei.ru/inform/list35bacc.html" target="_blank" title="09.03.03" class="text_decor">
         <span class="Main_font_mei">09.03.03 - Прикладная информатика ИнЭИ: 1418 место из 27 </span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://pk.mpei.ru/inform/list17bacc.html" target="_blank" title="27.03.04" class="text_decor">
         <span class="Main_font_mei">27.03.04 - Управление в технических системах ИВТИ: 476 место из 66 </span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://pk.mpei.ru/inform/list16bacc.html" target="_blank" title="01.03.02" class="text_decor">
         <span class="Main_font_mei">01.03.02 - Прикладная математика и информатика ММ: нет в списке</span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://pk.mpei.ru/inform/list14bacc.html" target="_blank" title="09.03.01" class="text_decor">
         <span class="Main_font_mei"> 09.03.01 - Информатика и вычислительная техника ИВТИ: 1603 место из 157</span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://pk.mpei.ru/inform/list1bacc.html" target="_blank" title="15.03.06" class="text_decor">
         <span class="Main_font_mei">15.03.06 - Мехатроника, робототехника и машиностроение: 319 место из 92</span>
      </a>
      <br>
      <br>
      
      
      <li>
         <div class="cogs">
            <a href="https://anketa.misis.ru/abiturient/applications" target="_blank" title="лк" class="liner">
               <font size="5" color="lightblue" face="Montserrat">МИСИС</font>
            </a>
         </div>
      </li>
      <br>
      <span class="Main_font_naprav">Направление:</span>
      <a href="https://anketa.misis.ru/abiturient/applications" target="_blank" title="лк" class="text_decor">
         <span class="Main_font_misis">01.03.04 - Прикладная математика: 134 место из 25 </span>
      </a>
      <br>
      <br>
      <span class="Main_font_naprav">Направление:</span>
         <a href="https://anketa.misis.ru/abiturient/applications" target="_blank" title="лк" class="text_decor">
         <span class="Main_font_misis">09.03.01 - Информатика и вычистилесьная техника: <span class="win">255 место из 290</span> </span>
      </a>
   </ul>
   <div class="lowerhead">
      <a href="https://web.telegram.org/k/#@dockerexpresscourse" target="_blank" title="телега" class="liner">
          <font size="5px" color="Black" face="Montserrat">Docker-course</font>
      </a>
   </div>
   <h1>{{title}}</h1>
   {% for item in news %}
   <div>
      <p>{{item.title}}</p>
      <p>{{item.content}}</p>
      <p>{{item.created_at|date:'Y-m-d H:i'}}</p>
   </div>
   <hr>
   {% endfor %}
   

</html>